.bannerBGImage{
     height: 98vh;
     background: url("/images/bannerImage.jpg");
     background-size: cover;
     position: relative;
}

.bannerText{
    text-align: left;
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%,-50%);
    color:white;
}

.bannerTitile{
    font-size: 4rem;
}
.bannerDesc {
    text-align: 80%right;
    font-size: 2rem;
}
.img-fluid:hover{
    border: 4px solid rgb(248, 61, 92)
}

.card-img-top{
    height: 50vh;

   
}
.card-text{
    font-size: -100rem;
}

.skillMain{
      display:flex;
      justify-content: space-between;
     

}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: RoyalBlue;
  }
  #resume{
    width: 85%;
    height: 975px;
  }

  .card-img-top:hover{
    border: 4px solid rgb(248, 61, 92)

  }